@import "tailwindcss";

body {
    background: #232c43;
    color: #f3f4f6;
}

/* Hide scrollbar utility */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
