/node_modules
/yarn.lock
/frontend/node_modules
/frontend/yarn.lock
/frontend/package-lock.json
/frontend/package.json
/frontend/vite.config.mjs
/frontend/tsconfig.json
/frontend/tsconfig.node.json
/frontend/tsconfig.app.json
/frontend/tsconfig.spec.json
/admin/node_modules
/admin/yarn.lock
/admin/package-lock.json
/admin/package.json
/admin/vite.config.mjs
/admin/tsconfig.json
/admin/tsconfig.node.json
/admin/tsconfig.app.json
/admin/tsconfig.spec.json
/package-lock.json